<p>Доброго дня <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Ми зв’язуємося з вами, щоб повідомити, що вашу електронну адресу змінено на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Ми зв’язуємося з вами, щоб повідомити, що вашу електронну адресу змінено на <%= @resource.email %>.</p>
<% end %>
