<p>Доброго дня <%= @resource.email %>!</p>

<p>Хтось запитав посилання, щоб змінити ваш пароль. Ви можете зробити це за посиланням нижче.</p>

<p><%= link_to 'Змінити мій пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо ви цього не запитували, проігноруйте цей електронний лист.</p>
<p>Ваш пароль не зміниться, доки ви не перейдете за посиланням вище та не створите новий.</p>
