<p>Доброго дня <%= @resource.email %>!</p>

<p>Ваш обліковий запис заблоковано через надмірну кількість невдалих спроб входу.</p>

<p>Натисніть посилання нижче, щоб розблокувати свій обліковий запис:</p>

<p><%= link_to 'Розблокувати мій обліковий запис', unlock_url(@resource, unlock_token: @token) %></p>
